@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: "Baloo Bhai 2";
	overflow-x: hidden;
}

/* nav  section*/
nav {
	height: 8rem;
	width: 100%;
	border: 1px solid #e0e0e0;
	box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.5);
	position: fixed;
	background-color: white;
	z-index: 10;
}

.nav-navigation {
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav:hover {
	border: 1px solid #adadad
}

.nav-logo {
	height: 29px;
	width: 145px;
	background-image: url(/assets/motorola-logo.png);
	background-size: cover;
}

.nav-icons {
	display: flex;
}

.nav-menu-logo {
	display: flex;
}

.icons {
	margin: 5px;
}

.nav-searchbar {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-searchbar input {
	height: 3rem;
	width: 85%;
	border: 1px solid #e0e0e0;
	border-radius: 1px;
	box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.5);
}

.nav-searchbar button {
	height: 3rem;
	width: 8%;
	border: 1px solid #e0e0e0;
	border-radius: 1px;
	box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.5);
}

/* hero  section*/
.hero-frame {
	margin-top: 8rem;
	background-image: url(/assets/hero-frame.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 568px;
	width: 100%;
	text-align: left;
	padding-left: 10%;
	padding-top: 10%;
}

.hero-phone-logo {
	height: 50px;
}

.hero-frame p {
	font-size: 1.5rem;
}

.hero-phone-tagline {
	font-size: 3rem;
}

.hero-phone-info-box-firstline {
	font-weight: 600;
}

.hero-phone-info-box {
	margin-top: 5px;
}

.hero-phone-info-price {
	margin-top: 25px;
}

.hero-phone-info-buynow {
	margin-top: 40px;
}

.hero-phone-info-box-buynowbtn {
	border: 1px solid black;
	padding: 10px;
	border-radius: 40px;
	background-color: transparent;
	height: 40px;
	width: 120px;
}

@media (min-width: 0px) and (max-width: 1024px) {
	.hero-frame p {
		font-size: 1rem;
	}
	
	.hero-phone-tagline {
		font-size: 2rem;
	}
	
	.hero-phone-logo {
		height: 40px;
	}
}

/*Main Slider*/

.main-slider {
	display: flex;
	overflow-x: auto;
	scroll-margin-left: 20px;
	scroll-behavior: smooth;
}

.main-frame-1 {
	min-width: 100%;
	display: flex;
	height: 568px;
	background-image: url(/assets/main-slider.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-left: 10%;
	padding-top: 10%;
}

.main-phone-logo {
	height: auto;
	width: 18rem;
}

.colorwhite {
	color: white;
}

.main-phone-info-box-buynowbtn {
	border: 1px solid white;
	padding: 10px;
	border-radius: 40px;
	background-color: transparent;
	height: 40px;
	width: 120px;
}

.main-frame-2 {
	display: flex;
	height: 568px;
	background-image: url(https://motorolain.vtexassets.com/assets/vtex.file-manager-graphql/images/33a38ec2-1a34-4fbb-ada9-bb7a88b0ae15___f6682f2fd9c65c933f47c1187bc9de19.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-left: 10%;
	padding-top: 10%;
	min-width: 100%;
}

.phone-section-slider {
	display: flex;
	overflow-x: auto;
	scroll-margin-left: 20px;
	scroll-behavior: smooth;
}

.phone-section-cards {
	background-color: #f5f3f1;
	min-height: 338px;
	min-width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin: 20px;
	padding: 20px;
}

.phone-section-cards img {
	height: auto;
	width: 50%;
}

.bluebtn {
	background-color: #0e77da;
	color: white;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
	.footer-search p.footer-search-heading {
	font-size: 20px !important;
}
	
	.phone-section-cards {
		min-width: 95%;
	}
	
	.first-card {
		min-width: 90%;
	}
	
	.second-card {
		min-width: 90%;
	}
	
	.main-phone-logo {
		height: auto;
		width: 15rem;
	}
	
	.card-container {
		flex-direction: column;
	}
}

/*nav slider*/

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: relative;
	bottom: 1.25rem;
	left: 50%;
	margin-top: 20px;
	z-index: 0;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: black;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

/*MAIN 2*/

.main-second-1 {
	display: flex;
	height: 568px;
	background-image: url(/assets/main2-1.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-left: 10%;
	padding-top: 10%;
	min-width: 100%;
}

.main-second-2 {
	display: flex;
	height: 568px;
	background-image: url(/assets/main2-2.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-left: 10%;
	padding-top: 10%;
	min-width: 100%;
}

/*Cards*/
.card-container {
	display: flex;
}

.first-card {
	background-image: url(/assets/first-card.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 8px;
	margin: 20px;
	height: 415px;
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.second-card {
	background-image: url(/assets/second-card.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 8px;
	margin: 20px;
	height: 415px;
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.margin {
	margin: 5px;
}

/*footer-search*/
.footer-search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer-search-heading {
	font-size: 32px;
}

#footer-search-input {
	border: none;
	outline: none;
	box-shadow: none;
}

.footer-search-btn {
	border: none;
	background: none;
	color: #000;
}

.footer-searchbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4px;
	padding-left: 8px;
	border: 1px solid #adadad;
	border-radius: 15px;
	width: 40%;
	height: 30px;
}

.footer-search-suggestion-btn:hover {
	background-color: #adadad;
}

.footer-search-suggestion-btn {
	margin: 5px;
	padding: 5px;
	background: none;
	color: #000;
	border: 1px solid #adadad;
	border-radius: 15px;
}

.dnm {
	height: 200px;
	width: 100%;
	background-color: #f8f6f4;
	background-image: url(/assets/dnm.svg);
	background-repeat: no-repeat;
	background-position: left;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer-social {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer-social-icons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.footer-language {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer-trademark {
	text-align: center;
	
	font-size: 0.9rem;
	background-color: #f5f5f5;
}

.dnm-email {
	margin: 5px;
	background: none;
	color: white;
	border: 1px solid #adadad;
	border-radius: 15px;
}

.footer-language img {
	height: 15px;
}

.footer-social img {
	height: 29px;
}

.footer-social i {
	margin: 20px;
	height: 20px;
	width: auto;
}

.dnm-email input {
	background: transparent;
	margin: 5px;
}

.dnm-email button {
	color: white;
	background-color: #001428;
	border: none;
	height: 100%;
	padding: 5px;
}